<!--
    Sophia Chi, Emaan Asif, Jun Jie Li
    SoftDev 2025
    P01
  -->

<h1>Sign Up</h1>

<form action="/auth/signup" method="post">
  <input type="text" name="username" placeholder="Username" required><br>
  <input type="password" name="password" placeholder="Password" required><br>
  <input type="submit" value="Sign Up">
</form>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
        <p class="flashes {{ category }}">{{ message }}</p>
      {% endfor %}
      {% endif %}
    {% endwith %}

    <main class="content">
      {% block content %}
      {% endblock %}
    </main>
</div>
