<!--
    Boots
    Sophia, Emaan, Jun Jie
    P01
    SoftDev 2025
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bedroom</title>
</head>


<body>

 <a href="/map"> ← Return to Map </a> ✦

    <h1>Joke</h1>
    <p>{{ joke }}</p>

    <h1>Artwork</h1>
    {% if metItem.primaryImageSmall %}
        <img src="{{ metItem.primaryImageSmall }}" alt="Met artwork">
        <p><strong>Title:</strong> {{ metItem.title }}</p>
        <p><strong>Artist:</strong> {{ metItem.artistDisplayName }}</p>
        <p><strong>Date:</strong> {{ metItem.objectDate }}</p>
    {% else %}
        <p>No image available for this artwork.</p>
    {% endif %}
</body>
</html>
