<!DOCTYPE html>
<!--
    Boots
    SoftDev 2025
-->

<html>
  <head>
    <title> LOGIN PAGE </title>
  </head>
	<body>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      {% endif %}
    {% endwith %}

    <h1> LOGIN </h1>
		 
    <h3>
      Enter your username below to proceed.
    </h3>
		 
    <form action="/login", method = "POST">

      <input type="text" name="username" placeholder = "username" required > <br> <br>
      <input type="password" name="password" placeholder = "password" required > <br> <br>
		 <input type="submit" value= "Login" >
    </form>
    <br>
		 <a href = "/" style= "text-decoration: none;" > ← Return Home </a> <br>
       <a href = "/createaccount" > Don't have an account? Sign up! </a> 
   </body>
</html>




