 <!--
    Sophia Chi, Emaan Asif, Jun Jie Li
    SoftDev 2025
    P01
  -->

<!DOCTYPE html>

<html>
  <head>
    <title> LOGIN PAGE </title>
  </head>
	<body>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      {% endif %}
    {% endwith %}

    <h1> UNLOCK DOOR </h1>
		 
    <h3>
      Enter your username + password below to proceed.
    </h3>
		 
    <form action="/login", method = "POST">

      <input type="text" name="username" placeholder = "username" required > <br> <br>
      <input type="password" name="password" placeholder = "password" required > <br> <br>
		 <input type="submit" value= "Login" >
    </form>
    <br>
		 <a href = "/" style= "text-decoration: none;" > ← Go Back </a> <br>
       <a href = "/createaccount" > No Key? Register here! </a> 
   </body>
</html>
